@import prefixes
@import colors
leftColumn = 200px
topRow     = 600px
body
    margin 0px
    line-height 1.3em
    font-family arial, sans-serif
    #selector
        @import selector
    #map
        @import map

